html, body {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 2.25em;
  padding-top: 70px;
  margin-bottom: 50px;
  font-weight: 400;
}

.c-title {
  color: #3e4142 !important;
}

.btn-magma {
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 47px;
  padding: 0 60px;
  background-color: #f84848;
  border: 2px solid#f84848;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* latin-ext */

@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
}

body {
  font-family: Lato, sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #000;
}

.c-magma {
  color: #f84848 !important;
}

.c-magma-2 {
  color: #f84848 !important;
}

.container {
  padding: 0 50px !important;
}

/* Header */

#header {
  background-color: transparent;
  z-index: 3;
  transition: top .3s ease-out;
}

#header.active-menu {
  z-index: 6;
  background-color: transparent !important;
}

#header.active-menu nav {
  right: 0;
}

#header .sec-social{
  margin-top: 50px;
  
}
#header .sec-social i{
  margin-right: 50px;
}
#header.active-menu nav ul li:last-child a {
  border: 2px solid #f84848;
  padding: 0 26px;
  background-color: transparent;
  height: 50px;
  border-radius: 3px;
  line-height: 47px;
  max-width: 160px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#header.active-menu > picture{
  display: none !important;
}
#header nav .hide-menu,#header .sec-social, #header nav picture, #header.active-menu .btn-menu {
  display: none ;
}

#header.active-menu nav picture, #header.active-menu nav .hide-menu,#header.active-menu .sec-social {
  display: block;
}

#header nav .hide-menu {
  color: #FFF;
  position: absolute;
  left: 38px;
  font-size: 20px;
  top: 13px;
}


#header.active-menu nav picture {
  background: url(../imagenes/sprite_home_mobile.svg) -225px -15px no-repeat;
  height: 32px;
  width: 38px;
  margin: 0 auto;
}

#header[activo="true"] {
  top: 0;
  position: fixed;
  background-color: #362f2f;
  height: 70px;
  overflow: hidden;
}

#header[activo="process"] picture, #header[activo="true"] picture {
  margin-top: 11px !important;
}

#header[activo="process"] ul li, #header[activo="true"] ul li {
  display: flex;
  align-items: center;
  padding-top: 0;
  height: 70px;
}

#header[activo="process"] {
  top: -20px;
}

#header>nav>ul>li {
  padding: 48px 8px 0px;
  transition: all .2s ease-in-out;
  position: relative;
  z-index: 1;
}

#header .btn-menu {
  background: url(../imagenes/sprite_home_mobile.svg) -24px -115px no-repeat;
  height: 16px;
  width: 21px;
  display: none;
  margin: 15px;
}

#header>nav {
  transition: right .3s ease-out;
}

#header>nav>ul>li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: -6px;
  background-color: #f84848;
  transition: top .3s ease-out, height .3s ease-out;
}

#header .icon-arrow {
  margin-left: 8px;
  font-size: 1.4em;
}

#header>nav>ul>li>a {
  color: inherit;
  transition: color .3s ease-in-out;
}

#header>nav>ul>li:hover a {
  font-weight: 800;
}

#header>nav>ul>li:hover:after {
  top: 0px;
}

#header>nav>ul>li:nth-child(5):after {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}

#header>nav>ul>li:nth-child(5):hover a {
  color: #FFF !important;
}

#header>nav>ul>li:nth-child(5):hover:after {
  height: 120%;
}

#header>picture {
  margin-top: 30px;
  background: url(../imagenes/sprite_home_desktop.svg) -273px -15px no-repeat;
  height: 41px;
  width: 217px;
}

/* Home */

#home {
  background: url(../imagenes/home_hero@2x.jpg) center #3a3030;
  background-size: cover;
}

#home>main {
  max-width: 1477px;
  width: 67%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.title-magma {
  font-size: 2.75em;
  font-weight: 700;
  font-family: Lato-Light, sans-serif;
  line-height: 1.125em;
}

.subtitle-magma {
  margin-bottom: 64px;
}

.subtitle-magma, #home>main ol {
  font-family: Lato-Light, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

#home>main ol li {
  margin-right: 32px;
}

.logo-magma {
  display: none;
  background: url(../imagenes/sprite_home_desktop.svg) no-repeat;
  height: 124px;
  width: 257px;
  margin: 0 auto;
  transform: scale(.7, .7);
}

#home>main ol li:before {
  color: #f84848;
  content: "• ";
}

#home>footer {
  bottom: 40px;
}

#home>footer>i {
  background: url(../imagenes/sprite_scroll-home.svg) 4px -13px no-repeat;
  height: 66px;
  width: 108px;
}

/*digital products */

#digital-products {
  padding-bottom: 70px;
}

#digital-products .card-item {
  width: 25%;
  padding: 0 21px;
  flex-direction: column;
}

.sect-web picture {
  background: url(../imagenes/sprite_design_desk_sprite.svg) -648px -275px no-repeat;
  height: 94px;
  width: 227px;
}

.sect-web header {
  padding-top: 3px;
}

.sect-ecommerce picture {
  background: url(../imagenes/sprite_desktop-services.svg) -267px -267px no-repeat;
  height: 99px;
  width: 194px;
}

.sect-mobile picture {
  background: url(../imagenes/sprite_home_mobile_icon.svg) -18px -18px no-repeat;
  height: 87px;
  width: 152px;
}

.sect-mobile header {
  padding-top: 11px;
}

.sect-mobile a {
  margin-top: 48px;
}

.sect-ux picture {
  background: url(../imagenes/sprite_design_desk_sprite.svg) -71px -52px no-repeat;
  height: 102px;
  width: 131px;
}

.sect-ux h4 {
  margin-bottom: 16px !important;
}

#digital-products {
  color: #3e4142 !important;
}

#digital-products h3, #digital-products h4 {
  font-weight: 400;
}

#digital-products h4 {
  line-height: 29px;
  font-size: 1.5em;
  margin: 20px 0px;
}

#digital-products .card-item main p {
  line-height: 1.5em;
  font-size: 1.125em;
  margin-bottom: 20px;
}

#digital-products .card-item main a {
  color: #f84848;
  font-size: 16px;
}

#digital-products .card-item main a:hover {
  font-weight: 700;
}

/* concept solution */

#concept-solution {
  background-color: #f6f6f6;
}

.decription-section {
  margin-top: 40px !important;
  color: #3e4142 !important;
  font-size: 1.125em;
  line-height: 1.75em;
  width: 75%;
}

#concept-solution h4 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.5em;
}

#concept-solution .img-process {
  width: 60%;
  margin-bottom: 50px;
}

#concept-solution {
  padding-bottom: 90px;
}

#concept-solution footer {
  padding-bottom: 50px;
}

/*layer menu*/

#layer-black {
  opacity: 0;
  background: #171313;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  transition: opacity .2s linear;
}

#layer-black.active {
  z-index: 5;
  opacity: .9;
}